<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CCCSQLConnect.Properties.Settings.JusticeTEST4" connectionString="Data Source=CCCSQLTest02\ccctest4;Initial Catalog=Justice;Integrated Security=True;TrustServerCertificate=True" />
        <add name="CCCSQLConnect.Properties.Settings.JusticeTEST8" connectionString="Data Source=CCCSQLTest02\ccctest8;Initial Catalog=Justice;Integrated Security=True;TrustServerCertificate=True" />
        <add name="CCCSQLConnect.Properties.Settings.JusticePROD" connectionString="Data Source=CMSSQLPRDN03\ILCOOKPROD;Initial Catalog=Justice;Integrated Security=True;TrustServerCertificate=True" />
        <add name="CCCSQLConnect.Properties.Settings.JusticeTST4U" connectionString="Data Source=CCCSQLTest02\ccctest4;Initial Catalog=Justice;User Id=EJuser;Password=Fh80UXq363PHa4B;Integrated Security=True;TrustServerCertificate=True" />
        <add name="CCCSQLConnect.Properties.Settings.JusticeTST8U" connectionString="Data Source=CCCSQLTest02\ccctest8;Initial Catalog=Justice;User Id=EJuser;Password=Fh80UXq363PHa4B;Integrated Security=True;TrustServerCertificate=True" />
        <add name="CCCSQLConnect.Properties.Settings.JusticeTEST6" connectionString="Data Source=CCCSQLTEST03\CCCTEST6;Initial Catalog=Justice;Integrated Security=True;TrustServerCertificate=True" />
        <add name="CCCSQLConnect.Properties.Settings.JusticeTEST12" connectionString="Data Source=CCCSQLTEST02\cmstest12;Initial Catalog=Justice;Integrated Security=True;TrustServerCertificate=True" />
        <add name="CCCSQLConnect.Properties.Settings.JusticePRODU" connectionString="Data Source=CMSSQLPRDN03\ILCOOKPROD;Initial Catalog=Justice;Integrated Security=False;User ID=ranApp;Password=zRbtrcvxWyQvYj4" />
        <add name="CCCSQLConnect.Properties.Settings.JusticePRODL" connectionString="Data Source=cccsqltest03\cccwebapps;Initial Catalog=CCCAppLog;Integrated Security=False;User ID=public2;Password=Public@Access!" />
        <add name="CCCSQLConnect.Properties.Settings.JusticeSTAGE" connectionString="Data Source=CCCSQLTEST03\CCCSTAGE02;Initial Catalog=Justice;Integrated Security=True;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>